#changelog {
    font-size: 12px;
}

#statusbar {
    margin: -10px;
    /* padding: 0px; */
}

/* #progressbar {
    color: yellow;
    background-color: yellow;
    border-color: yellow;
}

#progressbar .full {
    color: yellow;
    background-color: yellow;
    border-color: yellow;
}

#progressbar .full .left {
    color: yellow;
    background-color: yellow;
    border-color: yellow;
} */
